/*.row.gallery img {*/
    /*width: 100%;*/
/*}*/

/*.gallery-img img {*/
    /*width: 10%;*/
/*}*/

.admin-gallery {
    max-height: 250px;
    text-align: center;
}

.admin-gallery img {
    height: 200px;
}

.admin-gallery-info {
    text-align: left;
}

.admin-gallery-block {
    margin-bottom: 10px;
}

.admin-gallery-info p {
    margin-bottom: 0px;
}
